.gif {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1rem;
    text-align: center;
}

h1 {
    margin: 0;
}
p {
    margin-top: 0;
    color: #ffffffd7;
    font-weight: 300;
}

audio {
    outline: none !important;
    opacity: 0.8;
    width: 360px;
    height: 40px;
}

.stream-btns {
    text-align: center;
    margin-top: 1.5rem;
}

.stream-btns .btn,
.btn:link {
    border: none;
    background-color: #00000000;
    box-shadow: none;
    margin: 0 0.25rem;
    padding: 0.75rem 1rem;
    border: 2px solid white;
    color: white;
    transition: all 0.1s ease-in;
    box-sizing: border-box;
    outline: none;
    font-family: "DM Mono", monospace;
    font-weight: 300;
}

.btn:hover,
btn:active {
    color: white;
    background-color: black;
    font-weight: bold;
}

.active {
    color: white;
    background-color: black !important;
    font-weight: 500 !important;
}

.attribution {
    position: absolute;
    bottom: 0;
    margin: 2rem 0;
}

.attribution a {
    color: #ffffff6b;
    font-weight: 300;
    font-size: 0.75rem;
    margin: 0 0.5rem;
    letter-spacing: normal;
}

.attribution a:hover {
    color: #ffffffd7;
}

.lds-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.lds-dual-ring:after {
    opacity: 0.8;
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 4px;
    border-radius: 60%;
    border: 3px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error-icon {
    fill: rgba(255, 255, 255, 0.726);
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 5px;
    right: 10px;
}

@media only screen and (max-width: 600px) {
    .gif h1 {
        letter-spacing: normal;
        font-size: 1.75rem;
    }
    .gif {
        flex-wrap: wrap;
        background-size: cover;
    }

    .stream-btns {
        margin-top: 0.75rem;
    }

    .stream-btns .btn,
    .btn:link {
        margin: 0.5rem 0.25rem;
    }

    audio {
        width: 320px !important;
    }
}
